<div class="ui left vertical labeled inverted visible sidebar menu" id="sidebar">
    <div class="item">
        <img class="ui middle aligned mini image" src="../favicon.ico">
        <span>NG - ERP</span>
    </div>
    <div class="item" *ngFor="let item of menuItems" >
        <div class="header">{{item.category}}</div>
        <div class="menu">
          <a class="item" *ngFor="let subItem of item.menuItems" routerLink="{{subItem.targetUrl}}">{{subItem.title}}</a>
        </div>
    </div>
</div>

<div class="pusher">
  <router-outlet>

  </router-outlet>
</div>


